@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700&display=swap');

@import "tailwindcss";

@layer base {
    html{
        font-family: "poppins", "sans-serif";
    }

    body{
        background-color: #fdfeff;
        overflow-x: hidden;
    }
}

.login_bg{
    background-image: url("./assets/images/login.jpg");
}

.signup_bg{
    background-image: url("./assets/images/signup.jpg");
}